table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.sortable-column{
position: relative;
}
.sortable-column:after{
  position: absolute;
    content: "\21C5";
    width: 1rem;
    height: 1rem;
    left: 100%;
    margin-left: -1.25rem;
    top: 50%;
    margin-top: -.3rem;
    color: inherit;
    font-size: .8em;
    font-weight: 100;
    line-height: 1;
    opacity: .7;
}
.sortable-column.sort-asc:after{
  content: "\2191";
}
.sortable-column.sort-desc:after{
  content: "\2193";
}
th{
  background-color: #d1a9d8;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}